.editorconfig
.git
.gitignore
.jshintrc
.npmignore
.vscode
__tests__
__tests__/

./__tests__/*

coverage
coverage/
./coverage/*
coverage.png

jest.config.js
LICENSE
node_modules/
package-lock.json

.editorconfig
.jshintrc
.gitignore

sample-express.js

src

.eslintrc
.eslintrc.json
.eslintrc.yml
.eslintrc.js

rollup.config.js
jest.config.js
.gitignore
package-lock.json
.npmignore
